In [ ]:
##Exception handling
        #exception handling is the process of finding and managing errors during program execution,  so that the program will execute proplerly.

In [ ]:
try:
  print(2+"3")     #value error
except:
  print("test")

test

In [ ]:
try:
  result =10/0            ##zerodivision  error
except ZeroDivisionError:
  print("Cannot divide by zero!")

Cannot divide by zero!

In [8]:
try:
  with open("/content/sample.txt") as f:
    content = f.read()
    print(content)
except FileNotFoundError:
    print("File not found")

sowbhagya

In [9]:
try:
  with open("/content/sample.csv") as f:
    content = f.read()
    print(content)
except FileNotFoundError:
    print("File not found")

File not found

In [10]:
try:
  number =float("abc")
  print(number)
except ValueError:
  print("Invalid number format.")

Invalid number format.

In [12]:
try:
  items = [1,2,3]
  print(items[5])
except IndexError:
  print("Index out of range")

Index out of range

In [13]:
try:
  data = {"name": "Alice"}
  print(data["name"])
except KeyError:
  print("Key notfound in dictionary")

Alice

In [14]:
try:
  data = {"class": "Alice"}
  print(data["name"])
except KeyError:
  print("Key notfound in dictionary")

Key notfound in dictionary

In [15]:
try:
  x = 5
  x.append(2)     #here x is not a list so we cant append the any value here
except AttributeError:
  print("Invalid attribute for the object")

Invalid attribute for the object

In [20]:
try:
  value = int("abc")
  result = 10/0
except(ValueError, ZeroDivisionError) as e:
  print("Caught an error:", e)

Caught an error: invalid literal for int() with base 10: 'abc'

In [24]:
try:
 number = int("100")
except ValueError:
  print("Conversion failed")
else:
  print("Conversion successful:", number)

Conversion successful: 100

In [26]:
try:
  f = open("/content/sample.txt")
  data = f.read()
  print(data)
except FileNotFoundError:
  print("File not found")
finally:
  print("Execution complete")

sowbhagya

Execution complete

In [27]:
try:
  result = 10 / 0
except ZeroDivisionError:
  print("Divide by zero error")
else:
  print("Result:", result)
finally:
  print("Done with Division")

Divide by zero error
Done with Division

In [28]:
try:
  lst =[1,2]
  print(lst[5])
except IndexError:
  print("Index out of range")
else:
  print("List item accessed")
finally:
  print("List operation done")

Index out of range
List operation done

In [29]:
"invalid"*2

'invalidinvalid'

In [32]:
data =[[1,2],[3,4],"invalid"]
for sublist in data:
  for item in sublist:
    print(item*2)

2
4
6
8
ii
nn
vv
aa
ll
ii
dd

In [40]:
try:
  data =[[1,2],[3,4],"invalid"]
  for sublist in data:
    for item in sublist:
      print(item*2)
except TypeError as e:
  print("Type Error:", e)
else:
  print("Nested list processed")
finally:
  print("List handling complete")

2
4
6
8
ii
nn
vv
aa
ll
ii
dd
Nested list processed
List handling complete

In [41]:
try:
  a = {1,2,3}
  b= "abc"
  result = a|b #Unsupported operand types
except TypeError as e:
  print("Set union error:",e)
else:
  print("Set union successful")
finally:
  print("set operation done")

Set union error: unsupported operand type(s) for |: 'set' and 'str'
set operation done